In [33]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [34]:
df_zizhi = pd.read_excel('../dataset/人员资质证明.xlsx')
df_group = pd.read_excel('../dataset/人员组别.xlsx')

In [35]:
df_zizhi.head()

   序号   姓名     工号 一般勤务 廊桥操作   桥载操作 机组通话
0   1  蔡玉傲  27096    √    √      √  C/E
1   2   顾超  27205    √    √      √  C/E
2   3  毛伟飞  28045    √    √  √(带教)  C/E
3   4  张金龙  85236    √    √      √    C
4   5  蒋佳钧  85242    √    √  √(带教)  C/E

In [36]:
df_group.head()
df_group.rename(columns={'人员':'姓名'}, inplace=True)

In [43]:
df_group.fillna(0, inplace=True)
df_new = pd.merge(df_group, df_zizhi[['姓名','机组通话']], on='姓名', how='left')
# df_new = df_new[((df_new['耳机']==1) & (df_new['机组通话'].isnull())) | ((df_new['耳机']==0) & (df_new['机组通话'].notnull()))]
df_new.head()

    姓名   桥载   廊桥   勤务   耳机  休息室  组别 机组通话
0   胡强  1.0  1.0  1.0  1.0  187   1    C
1  邵卫民  1.0  1.0  0.0  0.0  187   1  NaN
2  秦天柱  1.0  1.0  0.0  0.0  187   1  NaN
3   金台  1.0  1.0  1.0  1.0  187   1    C
4  俞诗嘉  1.0  1.0  1.0  1.0  187   1  C/E

In [47]:
df_new['机组通话'].unique()
df_new['中文'] = df_new['机组通话'].notna()
df_new['英文'] = df_new['机组通话'] == 'C/E'
df_new.drop(columns=['机组通话','耳机'], inplace=True)

In [50]:
df_new['中文'].sum(), df_new['英文'].sum()

(74, 16)